/*Adding CSS styles here   */

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

nav {
  background-color: lightblue; /* Background color for the navigation */
  padding: 10px; /* Add padding to the navigation */
}

nav ul {
  list-style-type: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
  background-color: lightgray; /* Background color for the unordered list */
}

nav ul li {
  display: inline; /* To display list items horizontally */
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black; /* Text color for the links */
}

nav ul li a:hover {
  background-color: gray; /* Background color for links on hover */
  color: white; /* Text color for links on hover */
}
.section1 {
  background-color: lightblue;
}

.content {
  width: 100%;
  height: 100%;
  background-color: lightblue;
  text-align: center;
  padding-top: 20vh; /* Adjust the padding to center content vertically */
}
p {
  color: rgb(41, 128, 0);
  font-size: 20px;
}

.resize-image {
  width: 400px; /* Adjust width */
  height: auto; /* To maintain aspect ratio */
}
